<!DOCTYPE html>
<html lang="ja">
<head>
%T{head.tmpl}
</head>
<body>
%T{manage/common_header.tmpl}
<br>
<br>
<p>エントリ削除完了。</p>

<form action="/diarysys/manage" method="get">
<input type="button" id="back_to_entry_list" class="btn btn-info btn-xs" value="戻る" onclick="location.href='/diarysys/manage';"/>
</form>
</body>
</html>
