<h1 class="site_title2">
    町田女子トラベラーズを応援する会 オフィシャルブログ
</h1>
<p class="site_summary">ライバルは北千住</p>

<div class="navLink">
    <a href="/">github</a>
    <a href="/">twitter</a>
    <a href="/">rss</a>
</div>

<div id="common_header">
  <div class="left_container">
  </div>
  <div class="right_container login_menu">
    <span>
      <a href="/diarysys/login">ログイン</a>
    </span>
  </div>
  <div class="clearfix"></div>
  <div>
    <ul id="tab">
      <li>
        <a href="." id="tab_portal">日記</a>
      </li>
      <li>
        <a href="." id="tab_portal">github</a>
      </li>
      <li>
        <a href="." id="tab_portal">Twitter</a>
      </li>
      <li>
        <a href="." id="tab_portal">Facebook</a>
      </li>
    </ul>
  </div>
</div>