<meta charset="UTF-8"/>
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/diarysys/css/bootstrap/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/diarysys/css/common.css"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/diarysys/js/mix.js"></script>
<script type="text/javascript" src="/diarysys/js/mix.modules.js"></script>
