* {
  box-sizing: border-box;
  /*-moz-box-sizing : border-box;*/
  font-family: 'Arvo',Georgia,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 20px;
  text-align: center;
  font-size: 11px;
}

.clearfix {
  clear: both;
}

.left_container {
  float:left;
}

.right_container {
  float:right;
}

#common_header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  min-width: 600px;
  position: relative;
  text-align: left;
  width: 95%;
}

.navLink {
  display: block;
  text-align: center;
  padding-top: .8em;
}

.login_menu {
  padding: 10px 0 10px 3px;
}

h1 {
  margin-top: 1em;
}

/* header */
.site_title2 {
  text-align: center;
}

.trim {
  min-width: 100px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#entry {
  margin: 5px auto 15px;
  max-width: 1000px;
  min-width: 600px;
  position: relative;
  text-align: left;
  width: 95%;
}

.entry_info {
  padding: 10px 0;
}

.entry_info p {
  font-size: 10px;
  color: red;
  background-color: #FFFFFF;
  border: 1px solid red;
  -webkit-transform-origin: 10% 100%;
  -webkit-transform: rotate(-15deg);
  margin-top: 30px;
  margin-left: 10px;
  position: relative;
  z-index: 1010;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 5px;
  width: 100px;
  padding: 4px;
  text-align: center;
}

.entry_info p a {
  color: red;
}

.entry_info h2 {
  margin-top: -6px;
  color: #FF8000;
}

.entry_date {
  background: #FFFFFF url(/diarysys/img/calendar.png) no-repeat scroll 0 50%;
  padding-left: 20px;
  font-size: 14px;
  margin-left: 10px;
}

.entry_tag {
  background: #FFFFFF url(/diarysys/img/tag.gif) no-repeat scroll 0 50%;
  padding-left: 20px;
  height: 20px;
  padding-top: 5px;
}

.entry_description {
  padding: 10px;
  font-size: 14px;
}

#entry_list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  min-width: 600px;
  position: relative;
  text-align: left;
  width: 95%;
}

#sub_content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  min-width: 600px;
  position: relative;
  text-align: left;
  width: 95%;
  margin-top: 30px;
}

.entry_box {
  position: relative;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background-color: white;
  width: 177px;
  margin: 10px;
  display: inline-block;
}

.entry_box .entry_image {
  width: 175px;
  height: 100px;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.entry_box h2 {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4em;
  overflow: hidden;
}

.entry_box .entry_image img {
  width: 100%;
}
.entry_box .description {
  margin: 10px 0 20px;
  padding: 0 10px;
  height: 76px;
  font-size: 10px;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#monthly_archive {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  min-width: 200px;
  position: relative;
  text-align: left;
  column-width: 150px;
  -moz-column-width: 150px;
  -webkit-column-width: 150px;
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
}

#monthly_archive .archive_year {
  border-bottom: 1px dotted #ccc;
  padding: 0.2em 0;
}

#monthly_archive li {
  font-size: 15px;
  list-style-type: none;
  margin-left: 20px;
  padding-left: 17px;
}

#tag_list {
  width: 500px;
  text-align: justify;
}

#tag_list ul {
  margin: 0px;
  padding: 0px;
}

#tag_list li {
  display: inline;
  margin-left: 6px;
  color: #4444E6;
}

#tag_list sup {
  font-size: 14px;
}

.tagcloud1, .tagcloud2, .tagcloud3, .tagcloud4, .tagcloud5,
.tagcloud6, .tagcloud7, .tagcloud8, .tagcloud9, .tagcloud10 {
  text-decoration : none;
  vertical-align : middle;
}

.tagcloud1 {
  font-size : 80%;
}

.tagcloud2 {
  font-size : 100%;
}

.tagcloud3 {
  font-size : 120%;
}

.tagcloud4 {
  font-size : 140%;
}

.tagcloud5 {
  font-size : 160%;
}

.tagcloud6 {
  font-size : 180%;
}

.tagcloud7 {
  font-size : 200%;
}

.tagcloud8 {
  font-size : 220%;
}

.tagcloud9 {
  font-size : 240%;
}

.tagcloud10 {
  font-size : 300%;
}

/** 以下使ってない  */




select:hover, select:active, select:focus {
  background-color: beige;
  background-position:2px 50%;
  background-repeat: no-repeat;
  border: 1px solid #666666;
}

select {
  background-color: #FFFFFF;
  background-position: 2px 50%;
  background-repeat: no-repeat;
  border: 1px solid #CCCCCC;
  padding: 2px;
  font-size: 10px;
}



table.tablemaker {
  border: #E3E3E3 solid;
  border-width: 1px 1px 0 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table.tablemaker th {
  padding: 5px;
  border: solid #E3E3E3;
  border-width: 0 0 1px 1px;
  background: #F5F5F5;
  font-weight: bold;
  text-align: center;
}

table.tablemaker td {
  padding: 2px;
  border: solid #E3E3E3;
  border-width: 0 0 1px 1px;
}

td.noborder {
  border-width: 0;
  padding: 0;
}

.checked_area {
  background-color: #333333;
  color: #ffffff;
}

input.default_text {
  color: #7E9DB9;
}

/* main_container */
div#main_container {
}

/* login_container */
div#login_container {
  text-align: center;
}

/* project_container */
div#project_container {
}

/* error_container */
div.error_container {
  padding: 30px;
  position: absolute;
  left: 50%;
  width: 300px;
  margin: 100px 0 0 -150px;
  border: 1px solid #EEEEEE;
  text-align: center;
}

div.login {
  padding: 30px;
  position: absolute;
  left: 50%;
  width: 300px;
  margin: 100px 0 0 -150px;
  border: 1px solid #EEEEEE;
  text-align: left;
}

input#password {
  border: 1px solid #C7BEB2;
  background: #FDEFC8 none repeat scroll 0 0;
  height: 20px;
  width: 200px;
}


p.site_title {
  font-size: 174%;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 10px;
}

p.site_summary {

}

/* project */
div.project_list {
  float: left;
  width: 100px;
}

div.project_list a p {
  border: 1px solid #EEEEEE;
  text-align: center;
}

div.project_list a {
  color: #333333;
  text-decoration: none;
}

div.project_list a:hover p {
  background-color: #333333;
  color: #ffffff;
}

div.project_info {
  float: left;
  margin-left: 10px;
}

span.project_title {
  font-size: 144%;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 10px;
}

span.project_id {
  font-size: 8px;
}

div#project_info_header div {
  margin: 2px;
}

div#project_info_body {
  padding: 5px 2px;
}

div#project_info_body div {
  margin: 2px;
}

div#project_info_body p {
  font-size: 120%;
  font-weight: bold;
  line-height: 1em;
}

div.header_left {
  float: left;
  border: 1px solid #EEEEEE;
}

div.header_right {
  float: left;
}

div.header_right table {
  max-width: 680px;
}

div.header_right p {
  font-size: 115%;
  font-weight: bold;
}

div.header_right span {
  margin-right: 3px;
}

/* management */
div.management {
}

div.management_project {
  border: 1px solid #EEEEEE;
}

div#contents_list {
  float: left;
  width: 100px;
}

div#contents_list a p {
  border: 1px solid #EEEEEE;
  text-align: center;
}

div#contents_list a {
  color: #333333;
  text-decoration: none;
}

div#contents_list a:hover p {
  background-color: #333333;
  color: #ffffff;
}

div#contents_info {
  float: left;
  margin-left: 10px;
}

div.management_title_header {
  float: left;
  width: 100%;
}

div#management_result_message {
  float: right;
  color: #FF0000;
  font-size: 110%;
  font-weight: bold;
  width: 50%;
  text-align: right;
}

div#management_title {
  float: left;
  width: 50%;
}

span.management_title {
  font-size: 144%;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 10px;
}

span.management_id {
  font-size: 8px;
}

p.management_subtitle {
  font-size: 120%;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 10px;
}

div#management_header div {
}

input.url_text {
  border: 1px solid #C7BEB2;
  background: #FDEFC8 none repeat scroll 0 0;
  height: 16px;
  width: 755px;
  font-size: 100%;
}

tr#upload_form {
  display: none;
}

div#uploaded_image {
  border: 0;
}

div#uploaded_image img {
  border: 1px solid #EEEEEE;
  width: 100px;
  height: 100px;
}

/* tab */
ul#tab {
  list-style-position: outside;
  border:1px solid #EEEEEE;
  background-color: #FFFFFF;
  line-height: 1em;
  list-style-type: none;
  margin: 10px 0 10px;
  padding: 0;
  height: 26px;
  width: 100%;
}

ul#tab li {
  float:left;
  font-size:92%;
  line-height:1;
}

ul#tab li a {
  border-right: 1px solid #EEEEEE;
  display: block;
  padding: 8px 20px;
  position: relative;
  text-decoration: none;
}

ul#tab li a:hover {
  background-color: #333333;
  color: #ffffff;
}

/* portal */
div.hitorigoto_container {

}

div#hitorigoto {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  word-break: break-all;
  word-wrap: break-word;
  width: 494px;
  height: 73px;
  float: left;
}

div#hitorigoto p {
  padding: 4px 10px;
}

p.hitorigoto_title {
  font-size: 144%;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 10px;
}

div.timeline_container {
  max-width: 1000px;
  min-width: 600px;
  width: 98%;
  background-color: #333333;
  padding: 5px 10px;
  height: 510px;
}

div.timeline_title {
  font-size: 144%;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 10px;
  color: #FFFFFF;
}

div.timeline_button img {
  margin: 0 3px;
}

span.timeline_subtile {
  font-size: 12px;
  color: #FFFFFF;
}

div.timeline {
  background-color: #FFFFFF;
  max-width: 1000px;
  min-width: 600px;
  height: 460px;
  overflow-y: scroll;
}

div.timeline p {
  padding: 1px;
  border-bottom: 1px solid #cccccc;
  margin: 7px 5px;
  padding-left: 20px;
}

p.Activity {
  background : url(../images/icon_activity.png) no-repeat scroll 0%;
}

p.Twitter {
  background : url(../images/icon_twitter.png) no-repeat scroll 0%;
}

p.Diary {
  background : url(../images/icon_diary.png) no-repeat scroll 0%;
}

p.Bookmark {
  background : url(../images/icon_bookmark.png) no-repeat scroll 0%;
}

p.unknown {
  background : url(../images/icon_unknown.png) no-repeat scroll 0%;
}

/* log */
div.log_container {
  width: 870px;
  height: 668px;
  background-color: #333333;
  padding: 5px 10px;
}

div.rankforce_log_title {
  margin: 10px 0 10px;

}

div.rankforce_log_title div a {
  float: left;
  color: #FFFFFF;
  font-size: 144%;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 5px;
}

div.rankforce_log_title table {
  float: right;
}

div.logline {
  background-color: #FFFFFF;
  max-width: 1000px;
  min-width: 600px;
  height: 600px;
  overflow-y: scroll;
}

div.logline p {
  padding: 1px;
  border-bottom: 1px solid #cccccc;
  margin: 7px 5px;
  padding-left: 20px;
}

div.logoption {
  border-top: 5px solid #333333;
  background-color: #ffffff;
}

table#rankforce_log_category {

}

select#log_date option {
  font-size: 10px;
  height: 16px;
}

p.insert {
  background: #E0FFFF url(../images/icon_insert.png) no-repeat scroll 0%;
}

p.update {
  background: #00ffff url(../images/icon_update.png) no-repeat scroll 0%;
}

p.xml {
  background: #ff7f50 url(../images/icon_xml.png) no-repeat scroll 0%;
}

p.twitter {
  background: #FFFFCC url(../images/icon_twitter.png) no-repeat scroll 0%;
}

p.error {
  background: url(../images/icon_error.png) no-repeat scroll 0%;
}
p.notfound {
  background: url(../images/icon_notfound.png) no-repeat scroll 0%;
}

label.insert_log {
  background-color: #E0FFFF;
}

label.update_log {
  background-color: #00ffff;
}

label.xml_log {
  background-color: #ff7f50;
}

label.twitter_log {
  background-color: #FFFFCC;
}

/* Link */
div.link_container {
  padding: 10px 20px;
  text-align: center;
}

div.link_block {
  float: left;
  text-align: center;
  width: 150px;
  padding: 5px;
}

div.link_block img {
  border: 0px;
}

p.sites {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px solid #EEEEEE;
  margin-bottom: 10px;
}
